<h2>Patient Email Registration</h2>

<div>
  <p><strong>Clinic:</strong> <%= @clinic.clinic_name %></p>
  <p><strong>Medical Record No:</strong> <%= @patient.medical_record_no %></p>
  <p><strong>Last Name:</strong> <%= @patient.last_name %></p>
  <p><strong>First Name:</strong> <%= @patient.first_name %></p>
  <p><strong>Last Name Kana:</strong> <%= @patient.last_name_kana %></p>
  <p><strong>First Name Kana:</strong> <%= @patient.first_name_kana %></p>
  <p><strong>Birth Date:</strong> <%= @patient.birth_date %></p>
  <p><strong>Gender:</strong> <%= @patient.gender %></p>
</div>

<%= form_for(resource, as: resource_name, url: patient_registration_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.hidden_field :clinic_id, value: params[:clinic_id] %>
  <%= f.hidden_field :patient_id, value: params[:patient_id] %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Register' %>
  </div>
<% end %>

<%= render "patients/shared/links" %>
